@import "themes/catppuccin-mocha.css";
/* Change this import to switch themes */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  /* background-color: transparent; */
  background-color: @background;
  color: @foreground;
}

/* === Shared module styles === */
#workspaces,
#scratchpad,
#disk,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#backlight,
#battery,
#clock {
  padding: 2px 4px;
  margin: 3px;
  margin-top: 2;
  margin-bottom: 2;
  border-radius: 6px;
  background: @background-alt;
}

/* === Workspaces === */
#workspaces {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  border: 2px solid @foreground-alt;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent {
  padding: 0 6px;
}

#workspaces button.visible {
  background: @foreground;
  color: @background;
  border-radius: 2px;
}

#workspaces button:hover,
#workspaces button.visible:hover {
  background: @background-alt;
  color: @foreground;
}

#workspaces button.urgent {
  background: @critical;
}

/* === Module Specific Colors === */
#scratchpad {
  color: @scratchpad;
  border: 2px solid @scratchpad;
}

#disk {
  color: @disk;
  border: 2px solid @disk;
}

#cpu {
  color: @cpu;
  border: 2px solid @cpu;
}

#memory {
  color: @memory;
  border: 2px solid @memory;
}

#temperature {
  color: @temperature;
  border: 2px solid @temperature;
}

#network {
  color: @network;
  border: 2px solid @network;
}

#pulseaudio {
  color: @pulseaudio;
  border: 2px solid @pulseaudio;
}

#backlight {
  color: @backlight;
  border: 2px solid @backlight;
}

#battery {
  color: @battery;
  border: 2px solid @battery;
}

#clock {
  color: @clock;
  border: 2px solid @clock;
}

/* === Conditional Styling === */
#network.connected {
  color: @good;
  border: 2px solid @good;
}

#network.disconnected {
  color: @critical;
  border: 2px solid @critical;
}

#temperature.critical {
  color: @critical;
  border: 2px solid @critical;
}

#pulseaudio.muted {
  color: @critical;
  border: 2px solid @critical;
}

#battery.charging {
  color: @good;
  border: 2px solid @good;
}

#battery.warning {
  color: @warning;
  border: 2px solid @warning;
}

/* === Battery Critical Animation === */
@keyframes blink-critical {
  0% {
    border-color: @critical;
    color: @critical;
  }

  50% {
    border-color: transparent;
    color: @background;
  }

  100% {
    border-color: @critical;
    color: @critical;
  }
}

#battery.critical {
  animation: blink-critical 1s infinite;
  border: 2px solid @critical;
  color: @critical;
}
