/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  color: #fff4d2;
  background: none;
}

window#waybar.hidden {
  opacity: 1;
}

#custom-rofi,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#scratchpad,
#tray,
#disk,
#network,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 16px;
  font-weight: 800;
  color: #202020;
  background: #202020;
  border: 3px solid #202020;
  border-radius: 3px;
}

#window,
#scratchpad,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#network,
#memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock {
  padding-right: 4px;
}

#custom-rofi {
  background: #83a598;
  padding: 0 6px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
  margin: 0px;
}

#workspaces button {
  /*color: #fff4d2;*/
  color: #ffffff;
  padding: 0 4px;
  margin: 0px 3px;
  min-width: 25px;
}

#workspaces button:hover {
  background: #d3869b;
}

#workspaces button.visible {
  /*background: #8ec07c;*/
  background: #bd93f9;
}

#workspaces button.visible:hover {
  /*background: #8ec07c;*/
  background: #bd93f9;
}

#workspaces button.active {
  /*background: #8ec07c;*/
  background: #bd93f9;
}

#workspaces button.active:hover {
  /*background: #8ec07c;*/
  background: #bd93f9;
}

#workspaces button.urgent {
  background: #ea6962;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window,
#scratchpad {
  /*color: #d3869b;*/
  color: #ffffff;
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  padding: 0 6px 0 6px;
}

/* ================================ */
/*            disk                 */
/* ================================ */

#disk {
  /*color: #ea6962;*/
  color: #fff;
}

/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  /*color: #e78a4e;*/
  color: #fff;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
  /*color: #d8a657;*/
  color: #fff;
}

#temperature.critical {
  color: #cc241d;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight,
#network {
  /*color: #f6c657;*/
  color: #fff;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
  /*color: #458588;*/
  color: #fff;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
  /*color: #83a598;*/
  color: #fff;
}

#pulseaudio.muted {
  color: #ea6962;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
  /*color: #689d6a;*/
  color: #fff;
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  /*color: #e78a4e;*/
  color: #fff;
}
/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
  /*color: #8ec07c;*/
  color: #fff;
}
