// * {
//   al:  #1c1c1cff; /* ALTERNATIVE BACKGROUND */
//   bg:  #131313ff; /* BACKGROUND */
//   se:  #1f1f1fff; /* SELECTED */
//   fg:  #d6dae4ff; /* FOREGROUND */
//   // bd:  #2cc55dff; /* BORDER */
//   bd:  #7aa2f7; /* BORDER */
// }
* {
bg: #2e3440;
al: #bf616a;
se: #3b4252;
bd: #81a1c1;
fg: #d8dee9;
}
